---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div>
    Built with 
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#B845ED] to-[#3245FF] hover:after:bg-gradient-to-r hover:after:from-[#B845ED] hover:after:to-[#3245FF]"
      href={"https://astro.build/"}
      target="_blank"
    >
      Astro</a> - Theme 
      <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#f57111] to-[#f79605] hover:after:bg-gradient-to-r hover:after:from-[#f57111] hover:after:to-[#f79605]"
      href={"https://github.com/flexdinesh/blogster"}
      target="_blank"
    >
      Blogster</a> - Host
    <a
      class="unset gradient-link tracking-wider font-bold bg-clip-text text-transparent bg-gradient-to-r from-[#00abda] to-[#1476ff] hover:after:bg-gradient-to-r hover:after:from-[#00abda] hover:after:to-[#1476ff]"
      href={"https://vercel.com/"}
      target="_blank"
    >
      Vercel</a>
  </div>
</footer>

<script async defer src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js' charset="utf-8"></script>
<script async defer charset="utf-8">
  kofiWidgetOverlay.draw('aidailynews', {
    'type': 'floating-chat',
    'floating-chat.donateButton.text': 'Support me',
    'floating-chat.donateButton.background-color': '#f45d22',
    'floating-chat.donateButton.text-color': '#fff'
  });
</script>

<style>
  footer {
    grid-area: footer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }
</style>