---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        AI Daily News
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
      class="unset flex flex-col items-center md:flex-row hover:text-text-link"
      href="https://github.com/changday/ai-daily-news"
      aria-label="GitHub AIDailyNews"
    >
    <span class="w-4 inline-flex"><i class="fa-brands fa-github"></i></span>
      <span class="text-sm inline-flex px-2">GitHub</span>
    </a>
    
      <a
        class="unset md:ml-4 flex flex-col items-center md:flex-row hover:text-text-link"
        href="https://aidailynews.substack.com/"
      >
      <span class="w-4 inline-flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          viewBox="0 0 16 16"
          ><path
            fill="currentColor"
            d="M15.026 5.49467H0.973328V3.604H15.0267V5.49467H15.026ZM0.973328 7.208V16L7.99999 12.0733L15.0267 16V7.208H0.973328ZM15.0267 0H0.973328V1.89067H15.0267V0Z"
          ></path></svg
        >
      </span>
        <span class="text-sm inline-flex px-2">Substack</span>
      </a>
      <a
        class="unset md:ml-4 flex flex-col items-center md:flex-row hover:text-text-link"
        href="https://ko-fi.com/aidailynews"
        aria-label="Dinesh on Twitter"
      >
      <span class="w-4 inline-flex">

      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="currentColor" d="M23.881 8.948c-.773-4.085-4.859-4.593-4.859-4.593H.723c-.604 0-.679.798-.679.798s-.082 7.324-.022 11.822c.164 2.424 2.586 2.672 2.586 2.672s8.267-.023 11.966-.049c2.438-.426 2.683-2.566 2.658-3.734c4.352.24 7.422-2.831 6.649-6.916zm-11.062 3.511c-1.246 1.453-4.011 3.976-4.011 3.976s-.121.119-.31.023c-.076-.057-.108-.09-.108-.09c-.443-.441-3.368-3.049-4.034-3.954c-.709-.965-1.041-2.7-.091-3.71c.951-1.01 3.005-1.086 4.363.407c0 0 1.565-1.782 3.468-.963c1.904.82 1.832 3.011.723 4.311zm6.173.478c-.928.116-1.682.028-1.682.028V7.284h1.77s1.971.551 1.971 2.638c0 1.913-.985 2.667-2.059 3.015z"/></svg>
      </span>  
      <span class="text-sm inline-flex px-2">Ko-fi</span>
      </a>
      
      <a
        class="unset md:ml-4 flex flex-col items-center md:flex-row hover:text-text-link"
        href="/rss.xml"
        aria-label="RSS Feed"
      >
      <span class="w-4 inline-flex">

        <i class="fas fa-rss" aira-hidden="true" title="RSS Feed"></i>
        </span>
        <span class="text-sm inline-flex px-2">RSS</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
      Welcome to AI Daily News, your source for the latest news and information
      about artificial intelligence. Subscribe our weekly newsletter to keep informed about the key AI launches, 
      developments, trends, researches, regulations, and investments.
    </p>
    <div class="text-center">
    <iframe src="https://embeds.beehiiv.com/4ab193a4-8795-442d-b074-8d230103b04b?slim=true" data-test-id="beehiiv-embed" height="52" width="400" frameborder="0" scrolling="no" style="margin: 0 auto; border-radius: 0px !important; background-color: transparent;"></iframe>

      <!-- <div id="custom-substack-embed"></div>
      <script>
        window.CustomSubstackWidget = {
          substackUrl: "ai-daily-news.substack.com",
          placeholder: "example@gmail.com",
          buttonText: "Subscribe",
          theme: "custom",
          colors: {
            primary: "#F97316",
            input: "#FBFEFB",
            email: "#9CA3AF",
            text: "#FFFFFF",
          },
        };
      </script>
      <script src="https://substackapi.com/widget.js" async></script> -->
    </div>
  </div>
</section>